* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.Table {
    border: 3px solid rgb(44, 182, 247);
    background: #fff;
    margin-top: 12px;
    width: 258px;
    text-align: center;
    padding: 8px;
    margin-left: 10px;
}

  .Table input {
    border: 1px solid rgba(128, 128, 128, 0.39);
    width: 40px;
    height: 40px;
    margin-top: 4px;
}

    .Table input{
    background:linear-gradient(to bottom, #FFFFFF, #E6E6E6) #F5F5F5 repeat-x;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    text-decoration:none;
    display:block;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

#TextEdit {
    width: 100%;
    background: #FFFFFF;
    height: 23px;
    text-align: right;
}

    #WideBtn {
    width: 88px;
}

    #HeightBtn {
        height: 88px;
    }
    
